

.widget-container {
  display: grid;
  height: 100%;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 0.5rem;
  grid-column-gap: 1.5rem; 
}

.widget {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  max-height: 15rem; 
}

.widget1, .widget2, .widget3, .widget5 {
  grid-column: span 1;
  grid-row: span 1;
  aspect-ratio: 1;
}

.widget4 {
  grid-column: span 2;
}

/* Mobile (up to 480px) */
@media (max-width: 480px) {
  .widget-container {
    display: flex;
    flex-direction: column;
  }

  .widget4 {
    grid-column: span 1;
  }

  .widget1 { order: 1; }
  .widget2 { order: 2; }
  .widget3 { order: 3; }
  .widget4 { order: 5; }
  .widget5 { order: 4; }
}

/* Tablet (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .widget-container {
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    padding: 0;
  }

  .widget1 { order: 1; }
  .widget2 { order: 2; }
  .widget3 { order: 3; }
  .widget4 { order: 5; }
  .widget5 { order: 4; }
  
}

@media (max-width: 769px) {
  .container-border {
    overflow-y: scroll;
  }
}

/* Laptop (769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
}

/* Desktop (1025px and above) */
@media (min-width: 1025px) {

}

