.journal-editor {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(30px);
  width: 30vw;
  height: 100vh;
  color: #ccc;
}

.quill {
  border: 1px solid #ccc;
  height: 40vh;
}
.ql-container {
  height: 30vh;
}
button.save {
  margin: 100px;
}

