.account-container {
  display: flex;
  height: 70vh;
  border-radius: 1rem;
}

.account-nav {
  min-width: 10vw;
  padding: 20px;
  position: relative;
}

.account-nav::after {
  content: '';
  width: 1px;
  height: 90%;
  top: 5%;
  position: absolute;
  right: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.account-nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.account-nav ul li {
  margin-bottom: 10px;  
  width: 100%;
}

.account-nav ul li button {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: left;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.account-nav ul li button:hover {
  background: white;
  color: black;
  border-radius: 3px;
}

.account-main {
  flex: 1;
  padding: 20px;
}

/* Mobile (up to 480px) */
@media (max-width: 480px) {
  .account-container {
    flex-direction: column;
    overflow-x: hidden;

  }

  .account-nav {
    width: 100%;
  }

  .account-nav::after {
    display: none;
  }
  
  .account-nav ul {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

/* Tablet (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .account-container {
    flex-direction: column;
    overflow: hidden;
    width: 80vw;
    padding: 1rem 5rem;
  }

  .account-nav {
    width: 100%;
    padding: 1rem 0 0 0;
  }

  .account-nav::after {
    display: none;
  }
  
  .account-nav ul {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .account-main {
    padding: 0;
  }
}

/* Laptop (769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .account-container {
    overflow-x: hidden;
  }
  
  .account-main {
    min-width: 400px;
  }
}

/* Desktop (1025px to 1200px) */
@media (min-width: 1025px) and (max-width: 1200px) {
  .account-main {
    min-width: 500px;
  }
}

/* Larger screens (1201px and above) */
@media (min-width: 1201px) {

}
