.side-menu {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.side-menu img {
  width: 2rem;
}

.menu-icon {
  padding: 0.25rem;
  border-radius: 3px;
}

.menu-icon:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Mobile (up to 480px) */
@media (max-width: 480px) {
  .side-menu {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    padding-top: 0.5rem;
    border-radius: 3px;
  }
  
  .side-menu img {
    width: 1.25rem;
  }
}

/* Tablet (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .side-menu {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    padding-top: 0.5rem;
    border-radius: 3px;
  }
  
  .side-menu img {
    width: 1.75rem;
  }
}

/* Laptop (769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .side-menu {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    padding-top: 0.5rem;
    border-radius: 3px;
  }
  
  .side-menu img {
    width: 1.75rem;
  }
}
