.account-subcontainer {
  padding: 2rem;
  min-width: 25vw;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
}

.account-subcontainer h2 {
  text-align: center;
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-pic-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
}

.profile-pic {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.edit-profile-pic {
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.875rem;
}

#profile-pic-upload {
  display: none;
}

.settings-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 0.875rem;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 0.875rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.account-subcontainer button {
  margin-top: 3vh;
  max-width: 10rem;
  align-self: center;
  font-size: 0.875rem;
}

/* Mobile (up to 480px) */
@media (max-width: 480px) {
  .account-subcontainer {
    padding: 1rem;
    min-width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
  }
}

/* Tablet (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .account-subcontainer {
    min-width: 25vw;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
  }


  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 0.875rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
}